body,
html {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    background-color: #E9EAFF;
}

h1 {
    margin-left: 20px;
}

p em {
  font-family: 'McLaren', cursive;
  font-style: normal;
}

.rainbowed > *:nth-child(10n+0) { background-color: hsla(255, 45%, 18%, 1); }
.rainbowed > *:nth-child(10n+1) { background-color: hsla(250, 26%, 44%, 1); }
.rainbowed > *:nth-child(10n+2) { background-color: hsla(266, 32%, 64%, 1); }
.rainbowed > *:nth-child(10n+3) { background-color: hsla(292, 28%, 68%, 1); }
.rainbowed > *:nth-child(10n+4) { background-color: hsla(327, 43%, 79%, 1); }

.rainbowed > *:nth-child(10n+5) { background-color: hsla(217, 60%, 47%, 1); }
.rainbowed > *:nth-child(10n+6) { background-color: hsla(217, 82%, 35%, 1); }
.rainbowed > *:nth-child(10n+7) { background-color: hsla(217, 43%, 59%, 1); }
.rainbowed > *:nth-child(10n+8) { background-color: hsla(217, 58%, 68%, 1); }
.rainbowed > *:nth-child(10n+9) { background-color: hsla(217, 67%, 81%, 1); }

.item {
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFF;
    font-size: 20px;
}

.grid-sizer,
.item { width: 24%; }

.gutter-sizer { width: 1.33%; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  .grid-sizer,
  .item { width: 100%; }

  .gutter-sizer { width: 0%; }
}

/* iPads (portrait and landscape) ----------- */
/* and anything less than Desktop size ------ */
@media only screen
and (min-width : 480px)
and (max-width : 1024px) {
  .grid-sizer,
  .item { width: 48%; }

  .gutter-sizer { width: 4%; }
}
